*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Playfair Display', serif;
    color: rgba(98, 98, 98, 255);
    width: 900px;
 	margin: auto;
 	padding: 90px 0;
 	
}
.page-header{
	margin-bottom: 60px;
}
.menu{
    text-align: center;
    margin:auto;
    font-size: 14px;
}
.menu-item{
	display: inline-block;
	margin-right: 100px;
	font-size: 14px;
}

.menu-link{
	border:1px solid transparent;
	text-transform: uppercase;
	text-decoration: none;
	color: #5F5F5F;
}

.content {
    display: inline-block;
    width: 420px;
    margin-right: 24px;
    margin-bottom: 100px;
}
.content-right {
    display: inline-block;
    width: 420px;
    margin-right: 0px;
    margin-bottom: 100px;
}

.article-theme {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: 999999;
    margin-bottom: 30px;
}

.article-name {
    margin-bottom:30px;
}

.photo {
    margin-bottom: 40px;
}

.button{
    background: transparent;
    display: block;
    margin: auto;
    border: 2px solid rgba(98, 98, 98, 255);
    padding: 20px 50px;
    font-size: 16px;
    color:rgba(98, 98, 98, 255);
}