@import "variables.css";

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
   
}

.wrapper {
    font-size: var(--font-sz);
    background-color: #eaeaea;
    height: 1000px;
    font-weight: 700;
}

ul {
    list-style: none;
}

.sub-menu-lvl-1 {
    display: none;
}

.menu-item {
    display: inline-block;
    position: relative;
    left:50px;
    top:50px;
    padding: 20px 110px 20px 20px;
    border-radius: 4px;
    background-color: red;
}

.menu-item:hover>.sub-menu-lvl-1{
    cursor: pointer;
    display: block;
}

.sub-menu-lvl-1-1 {
    position: relative;
    padding: 20px 110px 20px 20px;
    background-color: #fff;
    margin-bottom: 5px;
}

.sub-menu-lvl-2 {
    position: absolute;
    left:200px;
    
    display: none;
    background-color: #fff;
    /* margin-bottom: 10px; */
}

.sub-menu-lvl-1-1:hover>.sub-menu-lvl-2 {
    display: block;
}


.sub-menu-lvl-2-1 {
    position: absolute;
    padding: 20px 110px 20px 20px;
    background-color: #fff;
    /* margin-bottom: 10px; */
}

.sub-menu-lvl-3 {
    position: relative;
    display: none;
    /* padding: 10px 24px; */
    background-color: #fff;
    /* margin-bottom: 10px; */
}
.sub-menu-lvl-3-1 {
    position: absolute;
    /* padding: 10px 24px; */
    background-color: #fff;
    /* margin-bottom: 10px; */
}

.sub-menu-lvl-4 {
    position: relative;
    display: none;
    padding: 10px 24px;
    background-color: #fff;
    margin-bottom: 10px;
}

.sub-menu-lvl-4-1 {
    position: absolute;
    /* padding: 10px 24px; */
    background-color: #fff;
    /* margin-bottom: 10px; */
}