.theList__item {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    transition: background-color .2s ease-out;
}

.theList__item:hover {
    background-color: pink;
    cursor: pointer;
}