* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1245px;
    margin: auto;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.menu-wrapper {
    background-color: #fff;
    margin-bottom: 178px;
}

.menu {
    display: flex;
    flex-basis: 50%;
    align-items: center;
}

.logo {
    font-family: 'Lato', sans-serif;
    color: #95e1d3;
    font-size: 30px;
    /* text-transform: uppercase; */
    text-decoration: none;
    
}

.menu-buttons {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    justify-content: space-between;
}

.menu-button {
    font-family: 'Lato', sans-serif;
    color: #95e1d3;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.menu-button::after{
    /* transition: 1s; */
    display: block;
    content: '';
    opacity: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background-color: #f38181;
    margin-top: 12px;
}

.menu-button:hover:after{
    transition: 1s;
    /* display: block; */
    content: '';
    opacity: 1;
}

.menu-button:hover {
    color: #f38181;
    cursor: pointer;
    display: block;
}