.products-wrapper {
    background-color: #e9f0fd;
}

.header-element {
    font-family: 'Open Sans', sans-serif;
    color: #515151;
    margin: auto;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 90px;
    padding-top: 100px;
}

.products{
    padding-bottom: 100px;
}

.products:last-child {
    margin-right: 0px;
}

.last {
    margin-right: 0px;
}



.product-image {
    display: block;
    height: 280px;
    width: 250px;
}

.product-info {
    font-size: 0;
}

.product-card {
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    width: 250px;
    height: 325px;
    margin-right: 20px;
}

.product-card:hover>.overlay {
    display: block;
}

.product-card:hover .product-name {
    background-color: #1abc9c;
}

.product-card:hover .product-price {
    background-color:#7fd9c7;
}

.box:hover, .basket:hover {
    background-color: #1abc9c;
}

.product-name {
    background-color: #323232;
    color: #fff;
    display: inline-block;
    width: 75%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 0;
    padding-left: 15px;

}

.product-price {
    background-color: #8c8c8c;
    color: #fff;
    display: inline-block;
    width: 25%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 280px;
    background-color: rgba(0,0,0,0.5);
    border: 10px solid rgba(255,255,255, 0.5)
}

.box {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-right: 10px;
}

.box:nth-child(3) {
    margin-right: 0;
}

.basket {
    height: 50px;
    width: 170px;
    background-color: #323232;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-top: 10px;
}

.icons {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 0;
    width: 170px;
}

.box-img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
}

.box-basket {
    position: absolute;
    bottom: 12px;
    left: 15px;
    height: 25px;
    width: 25px;
}

.add-to-cart {
    display: block;
    margin: auto;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 10px;
    

}