.wrapper-banner{
    background-image: url(../img/sailboat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 16.5rem 0 1rem;
}

.boat-link {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
    .wrapper-banner {
    padding: 20rem 0 1rem;
    }
}

@media (min-width: 960px) {
    .wrapper-banner {
        padding: 26rem 0 1rem;
        }
}